<!doctype html>
<html ng-app="root" lang="en" ng-strict-di>
<head>
  <!-- <base href="/ppro/"> -->
  <base href="/">
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">

  <!-- <title ng-bind="title">Farming Pinoy - Classifieds</title>
  <meta name="description" content="{{metaDescription}}">   -->
  <title ng-bind="title">Farming Pinoy - Classifieds</title>
  <meta name="description" content="{{metaDescription}}">
  <meta name="fragment" content="!" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfucoZC5t-bH-q38_l6qn2XeP25Kr_1vw"></script>   -->
  <!-- Load environment variables -->
  <script src="env.js"></script>

<link href="app.css" rel="stylesheet"></head>
<body ng-cloak="" >
<style type="text/css">
.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.breadcrumb {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nav-pf-vertical .fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #292e34;
  border-top: 1px solid #030303;
  border-bottom: 0;
}

/*.form-group{
  padding-bottom: 5px;
}*/
.tab-content{
  margin-top:15px;
  border-bottom: 1px solid #d1d1d1;
}
.my-page-header {
  padding-top: 10px;
  /*margin-left:20px;
  margin-right:20px;
  margin-bottom:10px;
  color: white;
  background-color: #374195;*/
  /*border-left: 1px solid #ddd;*/
  /*border-right: 1px solid #ddd;
  border-bottom: 2px solid #ddd;*/
}

.my-page-title {
  margin: 0px;
  /*cursor: pointer;*/
}

.my-page-body {
  padding-top: 10px;
}

.my-page-footer {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  color: white;
  background-color: #374195;
  border-top: 2px solid #ddd;
  z-index: 999;
}

</style>
<div ui-view="">
  Loading, please wait...
</div>
<script type="text/javascript" src="app.21bdb1919b61eb11fddb.js"></script></body>
</html>
